# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so


*.exe
*.test
*.prof


bin/
.vscode/
/pkg/

/src/vendor/*/
/src/github.com/
/src/golang.org/
/src/gopkg.in/
/src/sourcegraph.com/

